mapbox access token - "pk.eyJ1IjoiZWxpbnN0ZXJ6IiwiYSI6ImNrMnBjM204MDAycXUzY3Vpajhlb3k2NmwifQ.XhzUlm44GssIwYjEmKaB1A"
mapbox style url - "mapbox://styles/elinsterz/ck2tudfhn5pkn1bpybx0nrhai"
open data token - "ihNbl3Zc7lMRFp5AFIWiMxrgQ"